
a img{
    width:200px;
}


#logout {
    display:inline;
}


div#header{
    display:flex;
    align-content: space-between; 
}

div#top_header_right{
    margin-left: auto;
    display:flex;
    align-content: space-between; 
    flex-direction: column;
}

div#top_greeting_message{
    margin-left: auto;
}

ul{
    list-style: none;
}

div#top_function_lists{
    display:flex;
    align-content: space-between; 
}

ul#top_function_list1{
    display: inline-block;
    padding-right: 30px;
    padding-left: 0px;
}


ul#top_function_list2{
    /* margin: 30px; */
    margin-left: auto;
    display: inline-block;
    padding-left: 0px;
}