
body{
    background-color: lightgrey;
    font-family: 'Arial';
}

div#top_section, div#main_section{
    width: 80%;
    margin: 3% auto;
    background-color: white;
    border-radius: 8px;
    border: solid grey;
    border-width: thin; 
}

div#header{
    margin: 2%;
}

div#header_logo a img{
    margin: 10px 0px 0px 0px;
    width:200px;
}

#logout {
    display:inline;
}


div#header{
    display:flex;
    align-content: space-between; 
}

div#top_header_right{
    margin-left: auto;
    display:flex;
    align-content: space-between; 
    flex-direction: column;
}

div#top_greeting_message{
    margin-left: auto;
    width: 140px;
}

ul{
    list-style: none;
}

div#top_function_lists{
    display:flex;
    align-content: space-between; 
}

ul#top_function_list1{
    display: inline-block;
    padding-right: 30px;
    padding-left: 0px;
}

ul#top_function_list1 a{
    text-decoration: none;
}

ul#top_function_list1 a:hover{
    text-decoration: underline;
}

ul#top_function_list2{
    /* margin: 30px; */
    margin-left: auto;
    display: inline-block;
    padding-left: 0px;
}

ul#top_function_list2 a{
    text-decoration: none;
}

ul#top_function_list2 a:hover{
    text-decoration: underline;
}

nav#nav_bar{
    border-top: solid grey thin;    
    border-bottom: solid grey thin;
}

nav#nav_bar ul{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}

nav#nav_bar ul li{
    margin: 0 5% 0 5%;
}

nav#nav_bar ul li a{
    text-decoration: none;
}

nav#nav_bar ul li a:hover{
    text-decoration: underline;
}

div#search_bar{
    margin: 2%;
}

/**** finished Top and Search bar ***/

#main_section h1{
    margin: 2%;
}

form{
    margin: 3%;
}

label{
    width: 200px;
}

div#home_post_list ol{
    list-style: none;
    padding: 0px;
}

div#home_post_list ol li{
    border: solid grey;
    border-radius: 5px;
    padding: 0% 2% 0% 2%;
    margin: 2%;
}


div#home_post_list ol li a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

div#home_post_list ol li a:hover{
    text-decoration: underline;
}

div#post_body{
    border: solid grey;
    margin:2%;
    padding: 0% 2% 0% 2%;
    border-radius: 5px;
}

#store_name{
    font-weight: 800;
}

div#comment_box{
    border: solid grey;
    margin:2%;
    padding: 0% 2% 0% 2%;
    border-radius: 5px;
}

div#comment_list ol{
    list-style: none;
    padding: 0px;
}

#comment_list ol li{
    border: solid grey;
    border-radius: 5px;
    padding: 0% 2% 0% 2%;
    margin: 2%;
}